version: '5.0.2'

services:
  book_db:
    container_name: book_db
    image: postgres:16
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: book_db
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: {}